{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    <div class="block">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Поставка</th>
                <th scope="col">Цена</th>
                <th scope="col">Поставщик</th>
            </tr>
            </thead>
            <tbody>
            {% for good in goods %}
                <tr>
                    <th scope="row">{{ good.pk }}</th>
                    <td>{{ good.name }}</td>
                    <td>{{ good.created_at }}</td>
                    <td>{{ good.price }}</td>
                    <td>{{ good.vendor }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    <a class="btn btn-primary" href="{% url 'mainapp:good_create' %}">Создать товар</a>
{% endblock %}