{#{% extends 'mainapp/base.html' %}#}
{% load static %}

<form class="form-horizontal" method="post" action="{% url 'main:good_create' %}"
      enctype="multipart/form-data" class="js-good-create-form">
    {% csrf_token %}
    <div class="modal-body">
        {% include 'mainapp/form.html' %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" value="Сохранить">Save changes</button>
    </div>
    <br>
</form>
